.filter__section {
  padding: 3rem 0;
  select {
    background-color: var(--primary-color);
    color: #fff;
    width: 50%;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    &:focus {
      outline: none !important;
    }
  }
  .search__section {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;

    .search {
      flex: 1;
      input {
        border-radius: 5px;
        width: 100%;
        padding: 0.5rem 1rem;
        outline: none;
      }
    }
  }
}
