.filter__section {
  padding: 3rem 0;
  select {
    background-color: var(--primary-color);
    color: #fff;
    width: 50%;
    border-radius: 5px;

    padding: 0.5rem 1rem;
  }
  .search__section {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    div:nth-child(1) {
      background-color: var(--primary-color);
      padding: 0.5rem 1rem;
      color: #fff;
      border-radius: 5px;
      width: 20%;
      text-align: center;
    }
    .search {
      flex: 1;
      input {
        border-radius: 5px;
        width: 100%;
        padding: 0.5rem 1rem;
        outline: none;
      }
    }
  }
}
